<ion-view title="<i class='icon ion-game-controller-a'></i>more">
        <ion-content class="padding">
			<div class="more-categories">
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 1</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 2</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 3</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 4</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 5</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 6</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 7</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 8</a>
	            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts2">more 9</a>
	        </div>
        </ion-content>
      </ion-view>