<ion-view title="Sign-In" hide-nav-bar="true">
     <ion-content class="sign-in-page">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              log in
            </button>
            <p class="text-center">
	           <button class="button button-block button-hollow" ng-click="signIn(user)">
              LOG IN WITH FACEBOOK
            </button>
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div>
        </ion-content>
      </ion-view>
