<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>WHEELIE</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Pompiere|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="lib/bower_components/lodash/dist/lodash.js"></script>
    <script src="lib/bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="lib/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    
    
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>
    <script src="js/custom.js"></script>

  </head>
  <body ng-app="starter" animation="slide-left-right-ios7"  ng-controller="MainCtrl">
    <!-- 
      The nav bar that will be updated as we navigate between views.
    -->
    
    <ion-side-menus>
      <ion-side-menu-content drag-content="toggledrag">
    
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
      <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
      
      <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        <!-- Back -->
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
	  <button class="button button-icon ion-ios7-more" ng-click="toggleRight()" ng-hide="$exposeAside.active"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <!-- <ion-content class="padding"> -->
    
    <!-- 
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view animation="slide-left-right"></ion-nav-view>
    
     <!-- </ion-content> -->
     </ion-side-menu-content>
    
      <ion-side-menu expose-aside-when="large" width="120" side="left">
        <ion-content>
          <div class="list">
            <a class="item" href="#/sign-out" ng-click="toggleLeft()">
              My Face
            </a>
            <a class="item" href="#/tab/messages" ng-click="toggleLeft()">
              TALK
            </a>
            <a class="item" href="#/tab/plan" ng-click="toggleLeft()">
              PLAN
            </a>
            <a class="item" href="#/tab/activities" ng-click="toggleLeft()">
              PLAY
            </a>
            <a class="item" href="#/tab/activities" ng-click="toggleLeft()">
              SETTINGS
            </a>
            <a class="item" href="#/tab/activities" ng-click="toggleLeft()">
              MATCH
            </a>
          </div>
        </ion-content>
      </ion-side-menu>
      
      <ion-side-menu expose-aside-when="large" width="120" side="right">
        <ion-content>
          <div class="list">
            <a class="item" href="#/tab/messages" ng-click="toggleRight()">
              FACE1
            </a>
            <a class="item" href="#/tab/plan" ng-click="toggleRight()">
              FACE2
            </a>
            <a class="item" href="#/tab/activities" ng-click="toggleRight()">
              FACE3
            </a>
          </div>
        </ion-content>
      </ion-side-menu>
      
    </ion-side-menus>
    
  </body>
</html>
