/* Empty. Add your own CSS if you like */
html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.angular-google-map-container { height: 200px; }

button.ion-ios7-more {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	left: 13px;
}
.bar.bar-positive, .bar.bar-positive .button, .bar.bar-positive .title {
	color: #51bf9a;
	background: #fff;
}
.bar.bar-positive {
	border-bottom: 1px solid #ccc;
}

input, button, select, textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.button.button-positive {
	background-color: #27b17e;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border:none;
	width: 60%;
	min-width:250px;
	margin:0 auto;
	min-height: auto;
	text-transform: uppercase;
	font-size: 13px;
}

.button.button-hollow {
	background-color: transparent !important;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border: 1px solid #fff;
	width: 60%;
	min-width:250px;
	margin:0 auto;
	min-height: auto;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff !important;
	margin-top: 20px;
	margin-bottom:40px;
}

.menu, .menu .item {
	background-color: #1c1c1c;
	color: #fff;
	border-color: #1c1c1c;
}

.sign-in-page {
	background: url(../img/loginpageNEW.png) center center no-repeat;
	background-size: cover;
}

.sign-in-list {
	width:80%;
	margin: 0 auto;
	margin-left:10%;
	position:absolute;
	bottom:0;
}

.sign-in-page .logo {
	margin:0 auto;
	width:90%;
	height:32%;
	background: url(../img/logoNEW.png) center center no-repeat;
	background-size: contain;
	margin-top:30px;
}

.sign-in-list .item {
	position: relative;
	background:none;
	border:none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.35);
	padding-left: 0px;
	margin-bottom: 20px;
}

.sign-in-list .input-label {
	color: #36faaa;
	text-transform: uppercase;
	font-weight: 600 !important;
	font-size:14px;
	width: auto;
	
}

.sign-in-page a.signup-free {
	color: #fff;
	text-decoration: none;
}

.sign-in-page .forgotpw {
	color: rgba(255, 255, 255, 0.55);
	font-size:30px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	z-index: 40;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],  input[type="date"], input[type="month"],  input[type="time"],  input[type="week"],  input[type="number"], input[type="email"],  input[type="url"],   input[type="search"],  input[type="tel"], input[type="color"] {
	color: #fff;
	letter-spacing: 1px;
	font-size: 20px;
	font-weight: 400;
}

/* play page */
.title {
	text-transform: uppercase;
}
.title i.ion-game-controller-b {
	font-size: 32px;
	line-height: 0px;
	position:relative;
	top:7px;
	margin-right:5px;
}
.play-page {
	background: url(../img/playbgNEW.png) center center no-repeat;
	background-size: cover;
}

.play-page a.play-category {
	height:140px;
	width:140px;
	border-radius: 50%;
	display:block;
	text-indent: -9999px;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	color:#68c29c;
	line-height: 140px;
}

.play-items .list {
	width:80%;
	margin:0 auto;
	margin-top:30px;
}

.play-page a.play-category.play-0, .play-page a.play-category.play-2 {
	float:right;
}

.play-page .play-1 {
	margin-top:100px;
}

.play-page .play-2 {
	margin-top:-40px;
}

.play-page .play-3 {
	margin-top:60px;
}

.trivia-page .trivia-categories, .fungames-page .fungames-categories {
	width:100%;
	text-align: center;
}

.trivia-page .trivia-categories a, .fungames-page .fungames-categories a, .fungames-page .fame-games a {
	display:inline-block;
	text-decoration: none;
	width:31%;
	text-align:center;
	font-size:11px;
	color:#68c29c;
	margin-top: 40px;
}

.fungames-page .fungames-categories a {
	margin-top: 10px;
}

.fungames-page .fame-games a {
	margin-top: 0px;
}

.trivia-page .trivia-categories a .trivia-icon, .fungames-page .fungames-categories a .fungame-icon {
	margin:0 auto;
	width:75px;
	height:75px;
	display: block;
	border-radius: 50%;
}

.fungame-name {
	display: inline-block;
	width: 70px;
}

.fame-games {
	width:100%;
	margin-top: 20px;
}

.fame-games .fame-game-title-bar {
	color: #333;
	border-bottom: 1px solid #ccc;
	display: block;
	width: 100%;
}

.fame-games .fame-game-title-bar h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 17px;
	display: inline-block;
	color: #333;
}

.fame-games .fame-game-title-bar .fame-game-price {
	font-size: 12px;
	display: inline-block;
	margin-left: 4px;
}

.left-menu {
	text-align: center;	
	padding-top: 15px;
}

.left-menu .item {
	border:1px solid #333;
	border-top:none;
	border-left:none;
	border-right:none;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	
}

.left-menu .item.active {
	color: #333;
	background: #6dfccc;
}

.left-menu a {
	width: 100%;
	display: block;
}

.left-menu a i {
	font-size: 30px;
}

.left-menu .left-menu0 {
	margin:0 auto;
	height: 60px;
	width: 60px;
	background: url(../img/Menu-picture.png) center center no-repeat;
	background-size: contain;
	border:none;
	margin-bottom: 15px;
}

/*
.pane[title="SPORTS"] {
	background: url(../img/trivia-sports.png) center 30px no-repeat;
	background-size: cover;
}
*/

.pane[title="SPORTS"] {
	background: url(../img/bgsports.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="CATS"] {
	background: url(../img/bgcats.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="FILM AND TV"] {
	background: url(../img/bgfilm.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="TRAVEL"] {
	background: url(../img/bgtravel.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="TECH"] {
	background: url(../img/bgtech.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="MUSIC"] {
	background: url(../img/bgmusic.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="SEX"] {
	background: url(../img/bgsex.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="CELEBRITIES"] {
	background: url(../img/bgcelebrs.png) center 30px no-repeat;
	background-size: cover;
}

.pane[title="ANIMALS"] {
	background: url(../img/bganimals.png) center 30px no-repeat;
	background-size: cover;
}

.fungame-page.pane {
	background: url(../img/GameGeneric_01.jpg) center 30px no-repeat;
	background-size: cover;
}

.more-page.pane {
	background: url(../img/Play_More.jpg) center 30px no-repeat;
	background-size: cover;
}

.trivia-bottom-bar {
	display: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #51bf99;
	text-align: center;
	height: 75px;
	line-height: 75px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	display: block;
}
.trivia-bottom-bar .trivia-action {
	display: inline-block;	
	width: 60px;	
	position: relative;
	top:-11px;	
}
.trivia-bottom-bar .skip-arrow {
	display: inline-block;
	width: 30px;
}
.trivia-bottom-bar i {
	font-size: 50px;
	display: inline;
}

.match-page, .settings-page {
	background: #51bf99;
}
.signup-page  {
	padding-top: 40px;
}

.password-page .bar {
	border-bottom: 1px solid #ccc;
	padding-bottom:40px;
}
.match-page .bar, .settings-page .bar {
	border-bottom: 1px solid #ccc;
}

.match-page .bar i.ion-arrow-left-c, .password-page .bar i.ion-arrow-left-c {
	float: left;
	font-size: 25px;
}

.password-text {
	padding:10px;
	padding-top:60px;
}
.match-page .bar i.ion-close-round, .settings-page .bar i.ion-close-round {
	float: right;
	font-size: 18px;
}

.extended-logo {
	background: #fff;
	height: 75px;
	padding: 0;
	margin: 0;
}

.extended-logo h1 {
	margin: 0 auto;
	padding:0;
	width: 80%;
	height: 100%;
	background: url(../img/extwheeliebymatch.png) center center no-repeat;
	background-size: cover;
}

.match-page .item, .settings-page .item {
	background:transparent;
	padding: 0;
	width: 90%;
	border:none;
	margin:0 auto;
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}

.match-page .input-label, .settings-page .input-label {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: auto;
}

.match-page button, .settings-page button {
	color: #000 !important;
	background: #fff !important;
	margin-top:20px !important;
}

.match-page .item.item-toggle, .settings-page .item.item-toggle {
	border: none;
	width: 75%;
	padding-top: 15px;
	margin-top: 20px;
	overflow: visible;
}
.settings-page button.button-hollow {
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}

.track {
	background-color: #000 !important;
	border-color: #000 !important;
}

.questionbar {
	font-family: 'Pompiere', cursive;
	text-align: center;
	height: 70px;
	line-height: 70px;
	background: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;
	color:#666;
}

/*
input.vertical { -webkit-appearance: slider-vertical; writing-mode: bt-lr; }

input[type=range], ::-moz-range-track, ::-ms-track {
-webkit-appearance: none;
width: 100% !important;
overflow: visible !important;
}

::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
-webkit-appearance: none;
background-color: red;
height: 90px;
}

input[type='range'] {
		-webkit-appearance: none;
		height: 30px;
		vertical-align: middle;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		background-color: #999;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #FFF;
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #FFF;
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}
*/
.range {
	height: 380px;
}
.range input {
	transform: rotate(-90deg);	
}

/*%%%%%%%%%%%%%%%%%%%% ALL SPRITE ICONS ONLY %%%%%%%%%%%%%%%%%%%%*/
/* MAIN PLAY PAGE */
.play-page a.play-category.play-0  {
	background:  url(../img/SpriteSheet_Play.png) 0px 0px;
	background-size: 203%;
}
.play-page a.play-category.play-0.activated  {
	background: url(../img/SpriteSheet_Play.png) -142px 0px;
	background-size: 203%;
}

.play-page a.play-category.play-1  {
	background:  url(../img/SpriteSheet_Play.png) 0px -143px;
	background-size: 203%;
}
.play-page a.play-category.play-1.activated   {
	background: url(../img/SpriteSheet_Play.png) -142px -143px;
	background-size: 203%;
}

.play-page a.play-category.play-2  {
	background:  url(../img/SpriteSheet_Play.png) 0px -285px;
	background-size: 203%;
}
.play-page a.play-category.play-2.activated   {
	background: url(../img/SpriteSheet_Play.png) -142px -285px;
	background-size: 203%;
}

.play-page a.play-category.play-3  {
	background:  url(../img/SpriteSheet_Play.png) 0px -428px;
	background-size: 203%;
}
.play-page a.play-category.play-3.activated   {
	background: url(../img/SpriteSheet_Play.png) -142px -428px;
	background-size: 203%;
}

/* FUNGAMES*/
.fungames-page .fungames-categories a.fungame0 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px 0px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame0.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px 0px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame1 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -75px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame1.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -75px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame2 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -378px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame2.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -378px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame3 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -151px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame3.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -151px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame4 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -226px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame4.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -226px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame5 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -302px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame5.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -302px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame6 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -453px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame6.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -453px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame7 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -604px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame7.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -604px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame8 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -528px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame8.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -528px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungame9 .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px 0px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungame9.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px 0px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungames-uno .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -831px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungames-uno.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -831px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungames-pictionary .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -755px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungames-pictionary.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -755px;
	background-size: 201%;
}

.fungames-page .fungames-categories a.fungames-scrabble .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) 1px -679px;
	background-size: 201%;
}
.fungames-page .fungames-categories a.fungames-scrabble.activated .fungame-icon  {
	background: url(../img/SpriteSheet_FunGames_1.png) -75px -679px;
	background-size: 201%;
}

/* TRIVIA */
.trivia-page .trivia-categories a.trivia-0 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px 0px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-0.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px 0px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-1 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -76px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-1.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -76px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-2 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -151px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-2.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -151px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-3 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -226px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-3.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -226px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-4 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -302px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-4.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -302px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-5 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -377px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-5.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -377px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-6 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -452px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-6.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -452px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-7 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -528px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-7.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -528px;
	background-size: 301%;
}

.trivia-page .trivia-categories a.trivia-8 .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) 1px -603px;
	background-size: 301%;
}
.trivia-page .trivia-categories a.trivia-8.activated .trivia-icon  {
	background: url(../img/SpriteSheet_Trivia.png) -75px -603px;
	background-size: 301%;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%% END ALL SPRITE ICONS %%%%%%%%%%%%%%%%%%%%%%%%%%%*/


































